.site-content,.v-application--wrap{
    background: #eef1f5;
}

.btn-normal{
    background: #78849c;
    color: white !important;
    padding: 9px 14px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 13px;
    border: 0 !important;
}

.btn-normal a{
    color: white !important;
}

.box-panel .panel-wrapper{
    background: white;
    border-radius: 8px;
    color: #78849c;
    padding: 50px 20px;
}

.top-bar-assign{
    background: white;
    padding: 15px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 7px 19px 2px rgb(0 0 0 / 37%);
    box-shadow: 1px 7px 19px 2px rgb(0 0 0 / 37%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -40px;
    width: 100%;
}

.link_action{
    margin-right: 10px;
}

.top-bar-assign .bar{
    display: inline-block;
}

.box-panel .panel-wrapper h4,.box-panel .panel-wrapper h5{
    color: #78849c;
}

#rcp_registration_form p, #rcp_registration_form h3, #rcp_registration_form label{
    color: #78849c;
    font-weight: bold;
}

.premium_boundaries ul{
    list-style: none;
}

.premium_boundaries ul li,.ingredients_list ul li{
    display: flex;
}

span.icon_32{
    width: 24px;

    height: 24px;
    background-size: cover;
    content: url("../images/checked.png");
}

label.label-icon-edit, .action_btn_icon{
    display: flex;
}

.action_btn_icon{
    border: 1px solid #78849c !important;
    display: inline-flex;
    padding: 8px 20px 6px 28px;
    cursor: pointer;
}

label.label-icon-edit:before{
    content: '';
    width: 24px;
    height: 24px;
    background-size: cover;
    background-image: url("../images/editar.png");
    display: inline-block;
    margin-right: 10px;
}

.delete-icon:before{
    content: '';
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url("../images/delete.png");
    display: inline-block;
    margin-right: 10px;
}

.action_secondary{
    display: flex;
    cursor: pointer;
}

.left-panel{
    background: white;
}

.left-info{
    margin-left: 30px;
}

.main-panel{
    padding-left: 55px !important;
}

#rcp_registration_form label{
    font-size: 0.8rem !important;
}

#rcp_registration_form li{
    font-size: 0.8rem !important;
    margin-bottom: 10px;
}

#rcp_registration_form li span.feature{
    margin-left: 5px;
}

#rcp_registration_form h5{
    font-size: 1.1em !important;
}

#rcp_registration_form input{
    border: 1px solid #78849c !important;
}

h5{
    font-size: 15px !important;
}

#content.site-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
label[for="rcp-card-name"]{
    display: flex !important;
}

 #rcp-card-name, .InputElement {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

 /* Search Shortcode */
.search_recipe_full{
    width: 100%;
    height: 40px;
}

.search_recipe_full.btn-normal{
    width: 100%;
    border-radius: unset;
}

.recipe-img-wrapper{
    background-size: cover !important;
    background-position: center !important;

}

.recipe-img-wrapper h5{
    color: white !important;
    font-weight: bold;
    text-decoration: none;
}

.search_recipe_link:hover{
    text-decoration: none;
    cursor: pointer;
}

#rcp_type_wrap{
    display: flex;
    justify-content: space-between;
}

#rcp_submit_wrap{
    margin: 0 auto;
    text-align: center;
}

.type_option{
    display: block;
}

.line_or{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-left: 1px solid;
    height: 80%;
    width: 1px;
    margin: 0 auto;
}

.btn-normal a{
    text-decoration: none !important;
}

.line_or span{
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
    background: white;
    font-weight: bold;
}

.type_option label{
    display: block;
    font-weight: 500;

}

#go_premium{
    margin: 0 auto;
}



/* Bootstrap*/
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px !important;
    }
}
